* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

/*simplified span element to change color of header*/
header span{
    color: #d9dcd6;
}
/*nav element added for nav function*/
header nav { 
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*simplified header list attributes to one*/
header ul li {
    list-style-type: none;
    display: inline;
    margin-left: 25px;
}

/*removed img src as now included on html to enable alt for accessibility*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/*changed from div for semantics*/
article {
    width: 75%;
    display: inline-block;
    margin-left: 25px;
}

/*compiled 3 class attributes*/
.container{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    background-color: #0072bb;
}

/*replaced class "float left and float right for clearer description for images*/
.container img {
    max-height: 200px;
    float: left;
    display: block;
    clear: both;
    margin-right: 25px;
}

/*replaced class float right*/
#online-reputation-management img {
    max-height: 200px;
    float: right;
    margin: 0px;
}
/*contains attributes of all h3 within class:container*/
.container h2  {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight:bold;
}
/*contains attributes of all paragraphs within class:container*/
p {
    font-size: 16px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*Replaced div with aside for semantics*/
aside {
    margin-right: 25px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*all sections under benefits compiled to one*/
.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

/*all fonts with heading size 3 compiled to one for class = benefits*/
.benefits h3 {
    margin: 20px;
    text-align: center;
}

/*all image attributes compiled to one for class = benefits*/
.benefits img {
    display: block;
    max-width: 150px;
    margin: 10px auto;
}

/*footer element added*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 15px
}